h1{
    color: green;
    font-family: sans-serif;
}
p{
    color: coral;
    font-family: fantasy;
}
ul{
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style: upper-roman;
}
#menu-bar a{
    text-decoration: none;
    background-color: aquamarine;
    font-family:  Helvetica, sans-serif;
    Padding: 5px;
}

#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;


}